html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(16, 50px);
  grid-template-rows: repeat(16, 50px);
  justify-content: center;
}

.square {
  border: 2px solid black;
}

.color {
  background-color: blue;
}